@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import './reset.css';

:root {
	--text-gray-400: #9ca3af;
	--text-red-400: #f87171;
	--text-yellow-400: #fbbf24;
	--text-green-400: #34d399;
	--text-blue-400: #60a5fa;
	--text-indigo-400: #818cf8;
	--text-purple-400: #a78bfa;
	--text-pink-400: #f472b6;
}

body {
	margin-top: 5rem;
	padding: 1rem;
	width: 100%;
}

html {
	width: 100%;
}

#title,
#title > span {
	font-family: 'Chango', cursive;
	font-size: 2.5rem;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-text-stroke: 1px black;
}

@media screen and (min-width: 768px) {
	#title,
	#title > span {
		font-size: 4rem;
	}
}

span,
p,
a {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.5rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.text-gray-400 {
	color: #9b9b9b;
}
.text-red-400 {
	color: #e3342f;
}
.text-yellow-400 {
	color: #f6993f;
}
.text-green-400 {
	color: #38c172;
}
.text-blue-400 {
	color: #3867d6;
}
.text-indigo-400 {
	color: #6f42c1;
}
.text-purple-400 {
	color: #a333c8;
}
.text-pink-400 {
	color: #e03997;
}

.text-center {
	text-align: center;
}

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

.mb-4 {
	margin-bottom: 1.5rem;
}
