@import url('https://fonts.googleapis.com/css?family=Public+Sans:400,700|Ubuntu+Mono|Chango&display=swap');

:root {
  /* shadows */
  --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
  --shadow-2: 0 2px 2px rgba(0, 0, 0, 0.19), 0 3px 4px rgba(0, 0, 0, 0.23);
  --shadow-3: 0 4px 5px rgba(0, 0, 0, 0.19), 0 5px 6px rgba(0, 0, 0, 0.23);

  /* font family */
  --font-logo: 'Chango', sans-serif;
  --font-main: 'Public Sans', sans-serif;
  --font-console: 'Ubuntu Mono', monospace;

  /* font size */
  --font-size-base: 20px;

  /* color scheme */
  --color-main: #d98ba7;
  --color-main-muted: #d9b4be;
  --color-main-rich: #bf4572;
  --color-accent: #8872a6;
  --color-neutral-light: #f2f2f2;
  --color-neutral-mid: #d9d9d9;
  --color-neutral-dark: #737373;
  --color-neutral-black: #3d3d3d;
  --color-success: #108b12;
  --color-fail: #ff0203;
}

/* Generel Settings */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--color-neutral-light);
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
textarea,
input,
label,
button,
select,
option,
p,
a,
ul,
li,
figcaption {
  color: var(--color-neutral-black);
  font-family: var(--font-main);
  font-size: var(--font-size-base);
}

h1 {
  font-family: var(--font-logo);
  font-size: 3rem;
  line-height: calc(1.5 * 3rem);
}

h2 {
  font-size: 2rem;
  line-height: calc(1.5 * 2rem);
}

h3 {
  font-size: 1.5rem;
  line-height: calc(1.5 * 1.5rem);
}

h4 {
  font-size: 1.25rem;
  line-height: calc(1.5 * 1.25rem);
}

a {
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.1s ease;
}

a:hover {
  color: var(--color-accent);
  transition: all 0.1s ease;
}

label {
  font-weight: 700;
}

ul {
  list-style: none;
}

/* Buttons */

.button {
  border: none;
  box-shadow: var(--shadow-3);
  background: var(--color-neutral-mid);
  margin: 0.25rem 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
}

.button--rectangle {
  border-radius: 5px;
  min-width: 50px;
  height: 25px;
}

.button--circle {
  align-items: center;
  border-radius: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.button__download {
  background: var(--color-neutral-black);
  border-radius: 5px;
  color: white;
  margin: 0 0.5rem;
  padding: 0.5rem 1.5rem;
}

.button__indicator {
  background: var(--color-neutral-dark);
  border-radius: 50%;
  box-shadow: var(--shadow-3) inset;
  height: 15px;
  width: 15px;
}

.pressed {
  box-shadow: var(--shadow-1);
  transform: translateY(4px);
  transition: all 0.2s ease;
}

.pressed > .button__indicator {
  background: red;
}

/* Toggle Buttons */

.toggle__well {
  align-items: center;
  border: 3px solid var(--color-neutral-mid);
  background: var(--color-neutral-dark);
  border-radius: 20px;
  box-shadow: --var(--shadow-2) inset;
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  padding: 0 1px;
  width: 45px;
}

.toggle__well.on {
  background: green;
}

.toggle__knob {
  background: var(--color-neutral-mid);
  border-radius: 50%;
  box-shadow: var(--shadow-2);
  height: 20px;
  transition: all 0.2s ease-out;
  width: 20px;
}

.on > .toggle__knob {
  transform: translateX(16px);
  transition: all 0.2s ease-out;
}

/* Header Section */

#header--main {
  align-items: center;
  background: var(--color-main-muted);
  box-shadow: var(--shadow-1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding: 2rem;
}

#header__title--main {
  display: flex;
  flex-flow: column nowrap;
  max-width: 500px;
  text-transform: uppercase;
}

.logo__letter {
  -webkit-text-stroke: 1px black;
}

.logo__letter--red {
  color: #ed1c22;
}

.logo__letter--yellow {
  color: #f5ef15;
}

.logo__letter--blue {
  color: #0caaf3;
}

.logo__letter--green {
  color: #23b670;
}

.logo__letter--pink {
  color: #df4289;
}

.logo__letter--teal {
  color: #00af92;
}

#header__controls {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
}

#controls--console {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#controls--console > label {
  font-size: 0.95rem;
}

/* Main Section */

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

/* Video Element */

#viewWindow {
  align-self: center;
  background: var(--color-main);
  border: 5px solid var(--color-accent);
  box-shadow: var(--shadow-2) inset;
  height: auto;
  max-height: 600px;
  min-height: 600px;
  max-width: 100%;
}

/* Downloads Section */

#downloads {
  margin: 1rem 3rem;
}

#download--files {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 1rem;
}

/* Console */

#console {
  background: var(--color-neutral-black);
  border-radius: 1rem 1rem 0 0;
  bottom: 0;
  display: none;
  font-family: var(--font-console);
  margin: 1rem auto 0;
  min-height: 200px;
  padding: 1rem;
  position: sticky;
  width: 95%;
}

#console.show {
  display: block;
}

.log {
  color: var(--color-neutral-light);
}

.warn {
  color: orange;
}

.error {
  color: var(--color-fail);
}

.info {
  color: yellow;
}
