@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

:root {
  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.19), 0 2px 3px rgba(0, 0, 0, 0.23);
  --shadow-2: 0 2px 4px rgba(0, 0, 0, 0.19), 0 4px 5px rgba(0, 0, 0, 0.23);
  --shadow-3: 0 4px 5px rgba(0, 0, 0, 0.19), 0 5px 7px rgba(0, 0, 0, 0.23);
  --font-console: 'Ubuntu Mono', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

#header--main {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#header__controls {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.button {
  border: none;
  background: white;
  box-shadow: var(--shadow-3);
  margin: 0.25rem 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
}

.button--rectangle {
  border-radius: 5px;
  min-width: 50px;
  height: 25px;
}

.button--circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.pressed {
  box-shadow: var(--shadow-1);
  transform: translateY(4px);
  transition: all 0.2s ease;
}

/* Video Element */

#viewWindow {
  height: auto;
  max-width: 100%;
}

/* Console */

#console {
  background: rgba(0, 0, 0, 0.79);
  font-family: var(--font-console);
  margin: 0 auto;
  min-height: 100px;
  padding: 1rem;
  width: 95%;
}

.log {
  color: white;
}

.warn {
  color: orange;
}

.error {
  color: rgb(255, 70, 100);
}

.info {
  color: yellow;
}
